* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.white {
  color: #fff;
}

#root {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  /* min-width: 50em; */
  border: 1em solid #7fd8e6;
  background-color: #ddf2f5;
  border-radius: 1em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.top-container {
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
}

.icon {
  padding: 10px;
  border-radius: 5px;
}

.itemQuantity {
  width: 3em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  cursor: pointer;
}

.gray {
  background-color: gray;
}

.lightBlue {
  background-color: #7fd8e6;
}

.red {
  background-color: red;
}

.active-reset {
  background-color: lightGreen;
}

.active-reset:hover {
  background-color: green;
}

.deactive-reset {
  background-color: lightGreen;
}

.active-recycle {
  background-color: #007bff;
}

.active-recycle:hover {
  background-color: #305379;
}

.deactive-recycle {
  background-color: #4da5fc;
}

.active-plus{
    background-color: #6c757d;
}

.active-plus:hover{
    background-color: #282d31ce;
}

.deactive-plus{
    background-color: lightgray;
}

.active-minus{
    background-color: #17a2b8;
}

.active-minus:hover{
    background-color: #025d6b;
}

.deactive-minus{
    background-color: #5cbecd;
}

.delete{
    background-color: #dc3545;
}


.delete:hover{
    background-color: red;
}


.lightGreen {
  background-color: lightGreen;
}

.blue {
  background-color: #007bff;
}

.lightBlue {
  background-color: lightblue;
}

.yellow {
  background-color: yellow;
}

.counter {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.quantity {
  background-color: #7fd8e6;
  padding: 0.4em 1.5em;
  border-radius: 1em;
  font-weight: bold;
  color: #fff;
}

.value {
  background-color: #007bff;
  color: #fff;
}

.zero {
  background-color: yellow;
}

.reset-container {
  display: flex;
  justify-content: center;
  gap: 1em;
}
